<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2012 Andrew Neal

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andrew.apollo">

    <!-- Used for caching and creating new playlists -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- Used to check for a network connection -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Used to download images -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Used to keep the service running when the phone sleeps -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- The main service uses a sticky broadcast -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <!-- Lower or raise the music based on the phone state -->
    <!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <!-- Used to set the devices's ringtone -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- Used to create launcher shortcuts -->
    <!--<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />-->
    <!-- Used to check if the app is in the background -->
    <!--<uses-permission android:name="android.permission.GET_TASKS" />-->
    <!-- Used to get ip address for casting -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Used for the Visualizer -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- IAB -->
    <uses-permission android:name="com.android.vending.BILLING" />

    <!-- Casting is currently only supported over wifi -->
    <uses-feature android:name="android.hardware.wifi"/>

    <application
        android:name=".ApolloApplication"
        android:theme="@style/Theme.AppCompat.Light"
        android:allowBackup="true"
        android:hardwareAccelerated="@bool/config_hardwareAccelerated"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name_label"
        android:largeHeap="@bool/config_largeHeap">
        <!--GMS-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Searchable -->
        <meta-data
            android:name="android.app.default_searchable"
            android:value="org.opensilk.music.ui.activities.HomeSlidingActivity" />

        <!-- The God Activity -->
        <activity
            android:name="org.opensilk.music.ui.activities.HomeSlidingActivity"
            android:theme="@style/Theme.AppCompat.Light.Panel"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.MUSIC_PLAYER" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.APP_MUSIC" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/playlist" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.opensilk.music.AUDIO_PLAYER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="vnd.android.cursor.dir/audio"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.MEDIA_SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <!-- Used to set options -->
        <activity
            android:name="org.opensilk.music.ui.settings.SettingsPhoneActivity"
            android:label="@string/menu_settings"
            android:icon="@drawable/ic_settings" />

        <activity
            android:name="org.opensilk.music.ui.settings.SettingsTabletActivity"
            android:label="@string/menu_settings"
            android:icon="@drawable/ic_settings" />

        <activity
            android:name="org.opensilk.music.appwidgets.MusicWidgetSettings"
            android:label="@string/widget_settings_label"
            android:icon="@drawable/ic_settings">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <!-- 1x1 Ultra-mini widget -->
        <receiver
            android:name="org.opensilk.music.appwidgets.MusicWidgetUltraMini"
            android:label="@string/widget_ultra_mini_label" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/music_widget_ultra_mini" />
        </receiver>

        <!-- 2x2 Mini widget -->
        <receiver
            android:name="org.opensilk.music.appwidgets.MusicWidgetMini"
            android:label="@string/widget_mini_label" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/music_widget_mini" />
        </receiver>

        <!-- 4x1 Small widget -->
        <receiver
            android:name="org.opensilk.music.appwidgets.MusicWidgetSmall"
            android:label="@string/widget_small_label" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/music_widget_small" />
        </receiver>

        <!-- 4x2+ Large widget -->
        <receiver
            android:name="org.opensilk.music.appwidgets.MusicWidgetLarge"
            android:label="@string/widget_large_label" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/music_widget_large" />
        </receiver>

        <!-- Media button receiver -->
        <receiver android:name=".MediaButtonIntentReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>
        <!--Daydream-->
        <service
            android:name="org.opensilk.music.dream.DayDreamService"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.service.dream"
                    android:resource="@xml/daydream"/>
        </service>
        <!--Daydream settings-->
        <activity android:name="org.opensilk.music.dream.DreamSettings"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@android:style/Theme.Holo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
         </activity>
        <!-- Music service -->
        <service
            android:name=".MusicPlaybackService"
            android:process=":service"/>
        <!-- Cast Service -->
        <service android:name="org.opensilk.cast.SilkCastService"
            android:process=":service"/>
        <!--Artwork service runs in activity process-->
        <service android:name="org.opensilk.music.artwork.ArtworkService"/>
        <!-- Widget service runs in activity process-->
        <service android:name="org.opensilk.music.appwidgets.MusicWidgetService" />

        <!--Muzei extension-->
        <service android:name="org.opensilk.music.muzei.MuzeiService"
            android:icon="@drawable/stat_notify_music"
            android:label="@string/app_name"
            android:description="@string/muzei_description">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtSource"/>
            </intent-filter>
            <meta-data android:name="color" android:value="@android:color/holo_green_light"/>
        </service>
    </application>

</manifest>
