<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.opensilk.music">

    <application>
        <!-- Local Content Provider-->
        <provider
            android:authorities="org.opensilk.music.provider"
            android:name="com.andrew.apollo.provider.MusicProvider"
            android:exported="false"/>

        <provider
            android:name="org.opensilk.music.artwork.ArtworkProvider"
            android:authorities="org.opensilk.music.artwork.provider"
            android:enabled="true"
            android:exported="true"
            android:grantUriPermissions="true"/>

        <receiver
            android:name="org.opensilk.music.bus.ServiceBroadcastReceiver">
            <intent-filter>
                <action android:name="org.opensilk.music.playstatechanged" />
                <action android:name="org.opensilk.music.metachanged" />
                <action android:name="org.opensilk.music.repeatmodechanged" />
                <action android:name="org.opensilk.music.shufflemodechanged" />
                <action android:name="org.opensilk.music.refresh" />
                <action android:name="org.opensilk.music.queuechanged" />
            </intent-filter>
        </receiver>

    </application>

</manifest>