<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andrew.apollo">

    <application>
        <!-- Local Content Provider-->
        <provider
            android:authorities="org.opensilk.music.provider"
            android:name="com.andrew.apollo.provider.MusicProvider"
            android:multiprocess="true"
            android:exported="false"/>

        <provider
            android:name="org.opensilk.music.artwork.ArtworkProvider"
            android:authorities="org.opensilk.music.artwork.provider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true"/>

        <receiver
            android:name="org.opensilk.music.appwidgets.MusicWidgetReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="org.opensilk.music.PLAY_STATE_CHANGED" />
                <action android:name="org.opensilk.music.POSITION_CHANGED" />
                <action android:name="org.opensilk.music.META_CHANGED" />
                <action android:name="org.opensilk.music.REPEAT_CHANGED" />
                <action android:name="org.opensilk.music.SHUFFLE_CHANGED" />
                <action android:name="org.opensilk.music.QUERY_DISABLE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>